### ListTables.py requires InfoRecord.py

In [1]:
from ListTables import printList

In [2]:
l = [('Mike',23),('Greg',34)]
h = ('Name','Age')

In [3]:
printList(h,l)

Name     Age
----     ---
Mike     23
Greg     34

In [4]:
from ListTables import printTablesSideways

In [28]:
class1 = sorted(l, key = lambda x:x[1], reverse=True)
class2 = sorted([('Anna',15),('Ahmed',23),('Marc',40)], key = lambda x:x[1], reverse=True)

In [29]:
printTablesSideways(h,{'Class 1':class1, 'Class 2':class2},3,4)

     Class 1         |          Class 2
     -------         -          -------
Name        Age      |     Name        Age
----        ---      -     ----        ---
Greg        34       |     Marc        40
Mike        23       |     Ahmed       23
                     |     Anna        15

In [30]:
class3 = sorted([('Adrian',18),('Whittney',33),('Elias',50),('Sophia',10)], key = lambda x:x[1], reverse=True)
class4 = sorted([('John',18),('Steve',42),('Jan',60)], key = lambda x:x[1], reverse=True)

In [35]:
printTablesSideways(h,{'Class 1':class1, 'Class 2':class2, 'Class 3':class3, 'Class 4':class4},3,4, frameBlock='=')

=========================================================================================================================
=               Class 1         |          Class 2         |           Class 3         |          Class 4               =
=               -------         -          -------         -           -------         -          -------               =
=          Name        Age      |     Name        Age      |     Name         Age      |     Name        Age            =
=          ----        ---      -     ----        ---      -     ----         ---      -     ----        ---            =
=          Greg        34       |     Marc        40       |     Elias        50       |     Jan         60             =
=          Mike        23       |     Ahmed       23       |     Whittney     33       |     Steve       42             =
=                               |     Anna        15       |     Adrian       18       |     John        18             =
=========================================================================================================================

In [36]:
printTablesSideways(h,{'Class 1':class1, 'Class 2':class2, 'Class 3':class3, 'Class 4':class4},4,3, frameBlock='=', key=lambda x:int(x[0][1]), reverse=True)

===============================================================================================
=               Class 4         |           Class 3         |          Class 2                =
=               -------         -           -------         -          -------                =
=          Name        Age      |     Name         Age      |     Name        Age             =
=          ----        ---      -     ----         ---      -     ----        ---             =
=          Jan         60       |     Elias        50       |     Marc        40              =
=          Steve       42       |     Whittney     33       |     Ahmed       23              =
=          John        18       |     Adrian       18       |     Anna        15              =
=                               |     Sophia       10       |                                 =
===============================================================================================




=======================================
=               Class 1               =
=               -------               =
=          Name        Age            =
=          ----        ---            =
=          Greg        34             =
=          Mike        23             =
=======================================

### Sorting within the call to "printTablesSideways" determines the order of tables to be printed - not the order of records to be printed within each table.
#### That is : specifying "key=lambda x:int(x[0][1]), reverse=True" in the call to "printTablesSideways" leads to sorting (in reverse) the tables by the age of the first record within each table (60,50,40,34)